@font-face {
    font-family: "Cooper Black";
    src: url(/media/fonts/cooper_black_regular-webfont.woff2);
}

@font-face {
    font-family: "Medium";
    src: url(/media/fonts/sairacondensed-medium-webfont.woff2);
}
