body {
    background-color: #5CA4A9;
    margin: 0;
    padding: 0;
    font-family: 'Medium';
    color: #ed6a5a;
}

.botaopc {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.botaopc>div {
    height: calc(100% - 60%);
    width: calc(100% - 65%);
    background-color: white;
    border-radius: 30px;
    font-family: "Medium";
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ED6A5A;
    font-size: calc(100% + 1.5vh);

}

/* ---------------------------explorar.html---------------------------- */


/* -------------------------outros htrmls------------------------------- */
h1 {
    text-align: center;
    color: #ffffff;
}

#border {
    border-radius: 100px;
    height: 100px;
    background-color: #7cbbb8;
}

#btnRegister {
    background-color: white;
    color: #7cbbb8;
    transition: 0.3s;
    border: none;
}

#btnRegister:hover {
    background-color: #7cbbb8;
    color: white;
}

#btnEntrar {
    background-color: white;
    color: #7cbbb8;

}

.categoriasMinhaConta {
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;
    background-color: #7cbbb8;
}

#btnGuardar {
    background-color: white;
    color: #7cbbb8;

}

#btnAlterarFoto {
    background-color: white;
    color: #7cbbb8;

}

.paragrafo_password {
    color: #ffffff;
    text-align: center;
}

#btnEnviar {
    background-color: white;
    color: #7cbbb8;
}

.imgFacebook {
    position: relative;
    display: flex;
}

.imgGoogle {
    position: relative;
    display: flex;
    float: left;
    left: 10px;
}

.txtPandaMia {
    text-indent: 35px;
    color: #ffffff;
}


.conteudoMissao {
    position: relative;
    display: flex;
    top: 0px;

}

.conteudoVisao {
    position: relative;
    display: flex;
    left: 400px;
    top: -125px;
}

.txtMissao {
    position: relative;
    display: flex;
    top: 20px;
}

.visao {
    position: relative;
    display: flex;
    left: 340px;
    top: -240px;
}

#paragrafo1 {
    font-size: 12px;
    color: #76777b;
}

#paragrafo2 {
    font-size: 12px;
    color: #76777b;
    position: relative;
    display: flex;
    left: 340px;
    top: -240px;
}

#tituloF {
    position: relative;
    display: flex;
    left: 340px;
    top: -240px;
}

#btnSubmeter {
    background-color: white;
    color: #7cbbb8;
    border: none;
}

.covidImg {
    position: relative;
    display: flex;
    left: 340px;
    top: -240px;
}

.rodapeImg {
    display: inline-block;
    width: 100px;

}

.box1 {
    display: flex;
    position: relative;
    top: -80px;

}

.box2 {
    display: flex;
    position: relative;
    left: 200px;
    top: -180px;
    width: 150px;
    height: 150px;

}

.box3 {
    display: flex;
    position: relative;
    left: 380px;
    top: -330px;
    width: 150px;
    height: 150px;


}


/* ----------------------------Menu---------------------------- */
.opcoesMenu {
    z-index: 3;
    width: 20vw;
    height: 100vh;
    background-color: #FFCA2A;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(-20vw, 0, 0);
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
}

.opcoesMenu.show {
    transform: translate3d(0vw, 0, 0);
}

.menuSair {
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(20vw, 0, 0);
    transition: transform1 .3s cubic-bezier(0, .52, 0, 1);
    display: none;
}

.menuSair.beep {
    display: inherit;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
    transition: all .5s;
    width: 100%;
    text-align: center;
}

#closeMenu {
    cursor: pointer;
    position: absolute;
    right: 40px;
    height: 100px;
    width: 60px;

}

.sidebar-nav:nth-child(2) {
    margin-top: 10px;
    line-height: 250px;
    width: 100%;
    transition: all .3s;
    padding: 0;
}

.sidebar-nav li:not(:first-child) {
    line-height: 60px;
    width: 100%;
    transition: all .3s;
    padding: 0;
}

.sidebar-nav li a {
    font-family: "Medium";
    font-size: 30px;
    text-decoration: none;
    color: white;
}

#navbar {
    background-color: transparent;
    height: 200px;
}

.img-fluid {
    z-index: -1;
    position: absolute;
}

#conteudo {
    margin-top: 50px;
    margin-bottom: 10px;
}

#botao {
    height: 100px;
    margin-bottom: 30px;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

.card:hover {
    cursor: pointer;
}

.row {
    min-height: 100px;
    margin-bottom: 30px;
    color: white;
}

#hide {
    display: none;
} 
#hide1 {
  display: none;
} 
#hide2{
  display: none;
}