.container-fluid {
    font-family: 'Saira Condensed', sans-serif;
    color: #ED6A5A;
}

body {
    font-family: 'Saira Condensed';
    background-color: #5CA4A9;
}

h1 {
    text-align: center;
    color: #ffffff;
}

#btnRegister {
    background-color: white;
    color: #7cbbb8;
    transition: 0.3s;
    border: none;
}

#btnRegister:hover {
    background-color: #7cbbb8;
    color: white;
}

#btnEntrar {
    background-color: white;
    color: #7cbbb8;

}

.categoriasMinhaConta {
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;
    background-color: #7cbbb8;
}

#btnGuardar {
    background-color: white;
    color: #7cbbb8;

}

#btnAlterarFoto {
    background-color: white;
    color: #7cbbb8;

}

.paragrafo_password {
    color: #ffffff;
    text-align: center;
}

#btnEnviar {
    background-color: white;
    color: #7cbbb8;
}

.imgFacebook {
    position: relative;
    display: flex;
}

.imgGoogle {
    position: relative;
    display: flex;
    float: left;
    left: 10px;
}

.txtPandaMia {
    text-indent: 35px;
    color: #ffffff;
}


.conteudoMissao {
    position: relative;
    display: flex;
    top: 0px;

}

.conteudoVisao {
    position: relative;
    display: flex;
    left: 400px;
    top: -125px;
}

.txtMissao {
    position: relative;
    display: flex;
    top: 20px;
}

.visao {
    position: relative;
    display: flex;
    left: 340px;
    top: -240px;
}

#paragrafo1 {
    font-size: 12px;
    color: #76777b;
}

#paragrafo2 {
    font-size: 12px;
    color: #76777b;
    position: relative;
    display: flex;
    left: 340px;
    top: -240px;
}

#tituloF {
    position: relative;
    display: flex;
    left: 340px;
    top: -240px;
}

#btnSubmeter {
    background-color: white;
    color: #7cbbb8;
    border: none;
}

.img {
    position: relative;
    display: flex;
    left: 380px;
    top: -280px;
    width: 250px;
    height: 250px;
}

.rodapeImg {
    display: inline-block;
    width: 100px;

}

.box1 {
    display: flex;
    position: relative;
    top: -180px;
    left: 50px;


}

.box2 {
    display: flex;
    position: relative;
    left: 280px;
    top: -280px;
    width: 150px;
    height: 150px;

}

.box3 {
    display: flex;
    position: relative;
    left: 470px;
    top: -430px;
    width: 150px;
    height: 150px;


}

.card-deck {
    display: flex;
    border: none;
}

.card {
    background-color: #ffca2a;
    border: none;
}

.card-title {
    transition: 0.3s;
}

.card-title:hover {
    color: #ED6A5A;

}